.autosuggest-container {
    position: absolute;
    width: calc(100% - 10px);
    max-height: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;
    z-index: 9999;
}

.autosuggest-item {
    padding: 0.2rem 1.25rem !important;
}

.autosuggest-item:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}