.card_container {
  border: 1px solid rgba(153, 153, 153, 0.178);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(151, 151, 151);
  height: 130px;
  width: 185px;
  min-width: 185px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  position: relative;
}

.card_container h4 {
  margin: 0;
  padding: 0;
}

.card_container span {
  font-style: italic;
}

.card_more-options {
  position: absolute;
  transform: translate(685%, 10%);
  opacity: 0.6;
  z-index: 9991;
}

.card_more-options:hover {
  opacity: 1;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #2b2b2b);
}

.card_start-workout {
  position: absolute;
  bottom: 10px;
  width: 100px;
  left: 50px;
  text-align: center;

  background-color: white;
  border: 1px solid rgba(153, 153, 153, 0.178);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0px 0px 5px rgb(151, 151, 151);
}

.card_context-menu {
  position: absolute;
  z-index: 9990;
  background-color: white;
  width: calc(100% - 10px);
  height: calc(100% - 36px);
}

.card_workout-info {
  display: flex;
  align-items: center;
}

#card_add-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
